# This is an example of a .env file for the project.
# Copy this file to .env and fill in the values.
# Do not commit the .env file to version control.


#################
## URL SERVER ##
#################
# The URL of the server where the application is hosted.
# This is used for generating links and redirects.
SERVER_URL=


#################
## REDIS CONFIG ##
#################
# Redis is used for caching and session management.
# Make sure to have Redis installed and running.
# You can use Docker to run Redis if you don't have it installed locally.
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=
REDIS_USE_SSL=
